body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #8a72f8, #bad5dd);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

nav {
    background-color: #17034e;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    color: #ffd700;
}

section {
    padding: 40px 20px;
    margin-top: 80px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 80px auto;
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-image {
    width: 45%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    line-height: 1.6;
    color: #666;
    text-align: justify;
    width: 55%;
}

footer { 
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    position: flex; 
    bottom: 0; 
    width: 100%; 
}