.principal-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #8a72f8, #bad5dd);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #031d70;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.header-image {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #5da5f7;
}

h2 {
    margin: 20px 0;
    color: #f7f3f3;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #f5f3f3;
}

input[type="text"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 12px;
    background-color: #5c92e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #121213;
}

footer { 
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    position: flex; 
    bottom: 0; 
    width: 100%; 
}
