body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #8a72f8, #bad5dd);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


nav {
    background-color: #17034e;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fija el menú en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el menú esté sobre otros elementos */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    color: #ffd700;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 80px 20px 20px; /* Añade espacio superior para el menú fijo */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
    color: #666;
    text-align: left;
    width: 100%;
    max-width: 400px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
}

input[type="submit"] {
    padding: 12px;
    background-color: #76b852;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 400px;
}

input[type="submit"]:hover {
    background-color: #8DC26F;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    padding: 12px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #575757;
}

footer { 
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    position: flex; 
    bottom: 0; 
    width: 100%; 
}
